@use "sass:map";
@import "../../shared/css/variables";
.errorContainer{
  position: relative;
  width: 100vw;
  height: 100vh;  
  overflow: hidden;
  background-color: map.get($blueShadow, "30");
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  & h1 {
    position: relative;    
    top: 20%;
    margin: -10px 0 -30px;
    font-size: calc(17vw + 40px);
    opacity: .8;
    letter-spacing: -17px;
  }
  
  & p {
    position: relative;
    top: 20%;
    color: $mainOceans;
    opacity: .8;
    font-size: 18px;
    margin: 8px 0 38px 0;
    font-weight: normal
  }

}

.custom-shape-divider-top-1629752301 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1629752301 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 169px;
}

.custom-shape-divider-top-1629752301 .shape-fill {
  fill: $mainBlue
}

.custom-shape-divider-bottom-1629752270 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629752270 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 169px;
}

.custom-shape-divider-bottom-1629752270 .shape-fill {
  fill: $mainBlue
}

strong{
  font-size: 20px;
  font-weight: 900;
}