<form [formGroup]="selectForm">
  <mat-select
    #select
    class="basic"
    formControlName="select"
    [ngClass]="{ activeIcon: clicked }"
    (click)="clicked = true"
    (focusout)="clickAction()"
    (selectionChange)="emitInfo()"
    [ngStyle]="{ width: width }"
    disableOptionCentering
  >
    <mat-select-trigger>
        <span class="overflowed">
          {{ getNameById() }}
        </span>
    </mat-select-trigger>
    <mat-option *ngFor="let option of optionList" [value]="option.id">
      {{ option.name }}
    </mat-option>
    
  </mat-select>
  <span *ngIf="title" class="title">
    {{title}}
  </span>
</form>

