@use "sass:map";
//Main Colors
$mainOrange: #F26227;
$mainBlue: #0E2F3E;
$mainOceans: #14B2B8;
$mainWhite: #FFFFFF;
$mainGray: #F0F3F3;
$mainRed: #B82C1D;
$mainPurple: #8740E7;

$border-color: #F0F3F3;
$background: #FCFCFC;

$secondGray:#DBE3E5;

//Dev Colors
$devLightRed: rgba(234, 55, 55, 0.4);;
$devRed: #EA3737;
$devLightGreen: rgba(55, 234, 105, 0.4);
$devGreen: #16C647;

//Shadows
// example to use :  map.get($blueShadow, "30");
$blueShadow : (
  "100": #04384a,
  "80":  #36606E,
  "60": #86A0A8,
  "30": $secondGray
);

$orangeShadow : (
  "120": #D8511A,
  "80": #E87545
);

//Gradients

//Function to apply,Example to use -> @include gradient(right,$gradient1);
@mixin colorButton($color){
  &>span{
    @if $color == $mainWhite {
      color: $mainBlue;
    }@else{
      color: $mainWhite;
    }
    }
  &>i{
    @if $color == $mainWhite {
      color: $mainBlue;
    }@else{
      color: $mainWhite;
    }
    }
  background-color: $color;
}

@mixin gradient($direction, $list) {
  background: linear-gradient(map.get(("top": 0deg,"bottom":180deg,"right": 90deg,"left": 270deg), $direction), $list);
}

$OrangeToDarkBlue : $mainOrange,$mainBlue;
$OrangeToOcean: $mainOrange,$mainOceans;
$Shadow80ToOcean: map.get($blueShadow,"80"),$mainOceans;
