<div class="file-display-container">

  <!-- LINK PREVIEW -->
  <div *ngIf="fileType === 'link' && !editMode" class="displayed-img" >
    <div class="banner link-preview" (click)="handleClick()">
      <!-- PREVIEW with linkPrevie (paying) -->
      <img *ngIf="showThumbnail && linkPreviewAvailable && linkPreviewData.image" [src]="linkPreviewData.image" class="link-preview-image" (error)="onImgError($event)"/>
      <div *ngIf="showThumbnail && linkPreviewAvailable && !content" class="file-description" (click)="handleClick()">
        <span class="file-name navigationText">{{linkPreviewData.title}}</span><br/>
        <span class="file-hint helperText">{{linkPreviewData.description ? linkPreviewData.description : helperText}}</span>
        <i class="ci-Chevron_Right icon"></i>
      </div>
    </div>
  </div>
  <!-- DOC / PDF -->
  <div *ngIf="fileType === 'pdf' && !editMode" class="pdf-viewer-container">
    <div class="top message" [style]="test" *ngIf="topOfPDF"> <span class="helperText">Scroll down to see rest of document</span> </div>
    <div class="bottom message" [style]="test2" *ngIf="bottomOfPDF"> <span class="helperText">Scroll up to see rest of document</span> </div>
    <pdf-viewer
      #pdfViewer
      [src]="this.pdfURL2"
      [render-text]="true"
      [original-size]="false"
      [style]="pdfViewerStyle"
      (page-rendered)="onPDFEndLoad($event)"
    ></pdf-viewer>
  </div>

  <!-- IMG -->
  <img *ngIf="showThumbnail && fileType === 'img' && !editMode && fileData && fileData.url" src="{{fileData?.url}}" (click)="handleClick()" class="displayed-img"/>

  <!-- EDIT -->
  <div *ngIf="fileType && editMode" class="file-edit-container" (click)="handleClick()">
    <div class="file-icon" [ngClass]="{'img-icon': fileType === 'img', 'pdf-icon': fileType === 'pdf'}" (click)="handleClick()"></div>
    <div class="file-description" (click)="handleClick()">
      <span class="file-name helperText">{{fileData?.name}}</span><br/>
      <span class="file-size helperText">click to remove</span>
    </div>
    <div *ngIf="editMode" class="remove-file-button close-icon" (click)="remove()"></div>
  </div>

</div>