
<div class="container" [ngStyle]="{'height': (height)?height:'auto'}" [ngClass]="{'colored': isEditable}">
  <div *ngIf="!isEditing" [ngClass]="{'centered':centerText}" class="box">
    <p [class]="textClass" [ngClass]="{'centerText':centerText}">{{oldValue}}</p>
  </div>
  <div *ngIf="!isEditing && isEditable" class="box stack-top">
    <i (click)="focusIn()" class="ci-Edit_Pencil_01" [ngClass]="{'hidden': defaultButtonVisibility=='hidden'}"></i>
  </div>  
  <div class="box" *ngIf="isEditing">    
    <textarea #textAreaFocus *ngIf="textarea" class="textField" [style]="size" type="text" [maxlength]="utils.getTextLength('descriptions')" [(ngModel)]="newValue" [placeholder]="oldValue" (focusout)="focusOut()"></textarea>
    <input #inputFocus *ngIf="!textarea" class="textField" [style]="size" type="text" [maxlength]="utils.getTextLength('titles')" [(ngModel)]="newValue" [placeholder]="oldValue" (focusout)="focusOut()">
    <span>{{tag}}</span>
  </div>
</div>