@import '../../css/variables';

.container{
  display: flex;  
  flex-flow: column wrap;
  width:233px;
  height:280px;
  background: #FFFFFF;
  /* Other Shadows/Card active */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  &:hover{
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.18);
    border-radius: 40px;
    cursor: pointer;    
  }
}

.image{
  width:inherit;
  max-height:inherit;
  border-radius: 40px 40px 0px 0px;
  background-size: cover;
  background-position: center;
  &.product{
    height: 51%;
  }
  &.link{
    height: 58%;
  }
  &.bundle{
    height:47%
  } 
}

.content{
  display: flex;
  flex-flow: column nowrap;
  width:inherit;
  /*Prevent text to be copied*/
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  max-height:inherit;
  justify-content:center;
  border-radius: 0px 0px 40px 40px;
  overflow: hidden;

  &.product{
    height:49%;
  }
  &.link{
    height: 42%;
  }
  &.bundle{
    height:53%
  }    
  & .title{    
    margin-left: 6.47%;
    margin-right: 6.9%;
    margin-top: 2%;
    height: 37%;
    overflow: hidden;
    white-space: pre-line;    
    word-wrap:break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 24.32px;        /* fallback */
    max-height: 37%;       /* fallback */
  }
  & .subtitle{
    margin-top: 0;    
    margin-left: 6.47%;
    margin-right: 6.9%;
    margin-bottom: 7%;
    height: 27%;
    overflow: hidden;
    white-space:pre-wrap;
    word-wrap:break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 18.32px;
    max-width: 100%;        /* fallback */
    max-height: 36.64px;       /* fallback */
  }
  & .tag{
    width:130px;
    height:18px !important;
    border-radius: 20px;
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    
    /* or 120% */
    padding-top: 1px;
    margin-top: 0;
    margin-bottom: 3%;
    text-align: center;
    letter-spacing: 0.02em;
    /* Main Colors/æ - white */
    color: #FFFFFF;
    &.product{
      align-self: center;

    &.orange{      
      background: $mainOrange;
      }
    &.blue{      
      background: $mainBlue;
      }
    &.oceans{      
      background: $mainOceans;
      }
    }
    &.link{
      align-self: flex-start;
      margin-left: 6.47%;
      background: $mainOceans;
    }
  }
}

.hidden{
  visibility: hidden;
}