@use "sass:map";
@import "../../shared/css/variables";

.post-container {
  position: relative;
  .analytics {
    position: relative;
    height: 24px;
    width: 100%;
    background-color: #E9E4FE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #8740E7;
    font-size: 24px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    p {
      color: #8740E7;
      font-size: 24px;
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
    }
    i {margin-right: 4px;}
  }
  .post-header-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 50px;
    width: 100%;
    .user-avatar {
      position: relative;
      width: 40px;
      height: 40px;
      margin: 5px;
      border-radius: 50%;
    }
    .post-header-content {
      height: 50px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .no-name {color: $secondGray}
    }
    .post-header-menu {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      &.open {
        background-color: #F0F3F3;
      }
    }
  }
  .post-content-container {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0;
    overflow: hidden;
    .post-files-container {
      position: relative;
      width: calc(100% + 20px);
      margin-top: 10px;
      left: -10px;
    }
    .post-links-container {
      left: -10px;
      position: relative;
      width: calc(100% + 20px);
      margin-top: 10px;
    }
  }
  .post-footer-container {
    padding: 10px;
    padding-top: 0px;
    z-index: 0;
    .divider {
      position: relative;
      left: -10px;
      width: calc(100% + 20px);
      height: 1px;
      margin-top: 7px;
      background-color: #F0F3F3;
      &.thin {
        margin-top: 0px;
        height: 1px;
      }
    }
    .post-content-container {
      padding-top: 0px;
    }
    .post-comment-writer {
      position: relative;
      width: 100%;
      min-height: 40px;
      margin-top: 10px;
      z-index: 0;
      .reactions-container {
        position: absolute;
        left: 0;
        width: 66px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .reaction {
          cursor: pointer;
          border-radius: 8px;
          margin-right: 8px;
          padding-top: 4px;
          .reactions-icon {
            position: relative;
            box-sizing: border-box;
            font-size: 16px;
            line-height: 32px;
            width: 32px;
            padding-left: 5px;
            margin-top: 5px;
            left: 0px;
            white-space: nowrap;
          }
          &.active {
            background-color: #F0F3F3;
          }
          &.last {margin-right: 0px;}
        }
      }
      textarea.comment-writer {
        position: relative;
        width: calc(100% - 94px);
        left: 74px;
        height: 20px;
        resize: none;
        outline: none;
        border: none;
        min-height: 20px;
        padding: 10px;
        background-color: #F0F3F3;
        border-radius: 10px;
        font-family: Source Sans Pro, sans-serif; 
        font-style: normal;
        font-weight: 700;
        color: #0E2F3E;
        font-weight: 400 !important;
        font-size: .8rem;
        line-height: 1.5;
        letter-spacing: 0.02em;
        z-index: 0;
      }
      .send-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }
  .post-menu-container {
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 0;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 15 !important;
    width: fit-content;
    padding: 4px;
    .edit-post-button {
      box-sizing: border-box;
      width: 100%;
      padding: 4px;
      border-radius: 8px;
      white-space: nowrap;
      user-select: none; /* supported by Chrome and Opera */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      z-index: 15 !important;
      i {width: 16px; height: 16px;}
      &:hover {
        background-color: #F0F3F3;
      }
    }
  }
}
