<!-- create-post - Not used anymore -->
<div class="popup-container create-post" *ngIf="popupType === 'create-post' || popupType === 'edit-post'">
  <div class="popup-header-container">
    <h5 class="headline s5 text nomargin">{{popupType === 'create-post' ? 'Beitrag erstellen' : 'Beitrag bearbeiten'}}</h5>
    <div class="popup-closing-button close-icon" (click)="closePopup()"></div>
  </div>
  <div class="popup-body-container">
    <div class="popup-body text-editor">
      <textarea #textareaRef class="post-writer" placeholder="Was möchtest du sagen?" [(ngModel)]="postData.content"></textarea>
    </div>
    <div class="popup-attachment-manager">
      <span class="navigationText">Was möchtest du teilen?</span>
      <div class="popup-attachment-buttons">
        <div class="popup-attachment-button pdf-icon" (mouseup)="openContent('pdf')">
          <input #pdfInput type="file" accept=".pdf" style="display:none" (change)="handle($event)">
        </div>
        <div class="popup-attachment-button img-icon" (mouseup)="openContent('img')">
          <input #imgInput type="file" accept="image/*" style="display:none" (change)="handle($event)" *ngIf="!this.file">
        </div>
        <div class="popup-attachment-button link-icon" (mouseup)="openLinkInput('website')"></div>
      </div>
      <div class="input-box" *ngIf="inputLink">
        <i class="ci-Link"></i>
        <input type="text" #link [(ngModel)]="spaceLink" />
      </div>
      <div *ngIf="file" class="file-display-container">
        <ho-file-display [editMode]="true" [fileData]="file" (removeFileReq)="removeFile()"></ho-file-display>
      </div>
    </div>
  </div>
  <div class="popup-footer-container">
    <button class="rectangle dark popup-trigger-button" [class.onboarding]="onboardingState === 3.5" (click)="postContentReq()">
      <span class="navigationText">Posten</span>
    </button>
  </div>
</div>
<!-- create-page -->
<div class="popup-container create-page" *ngIf="popupType === 'create-page' || popupType === 'edit-page'">
  <div class="popup-header-container">
    <h5 class="headline s5 text nomargin" *ngIf="popupType === 'create-page'">Neue Seite hinzufügen</h5>
    <h5 class="headline s5 text nomargin" *ngIf="popupType === 'edit-page'">Edit Seite</h5>
    <div class="popup-closing-button close-icon" (click)="closePopup()"></div>
  </div>
  <div class="popup-body-container">

    <span class="navigationText margin">Wähle den Inhalt der Seite</span>

    <div class="page-type-container page-item">
      <div class="page-type-item card no-shade" (click)="selectedPageType = 'content'" [class.selected]="selectedPageType === 'content'">
        <i class="ci-File_Blank"></i><p>Sales Content (Präsentationen, Videos, etc.)</p>
      </div>
      <div class="page-type-item card no-shade" (click)="selectedPageType = 'team'" [class.selected]="selectedPageType === 'team'">
        <i class="ci-Users_Group"></i><p>Vorstellung Team</p>
      </div>
      <!-- <div class="page-type-item card no-shade" (click)="selectedPageType = 'message'" [class.selected]="selectedPageType === 'message'">
        <i class="ci-Mail"></i><p>Nachrichten</p>
      </div> -->
    </div>

    <div class="page-name-container popup-item">
      <span class="navigationText">Gib der Seite einen Namen</span>
      <div class="input-box">
        <input class="inputField" type="text" placeholder="" [(ngModel)]="pageName"/>
      </div>
    </div>

  </div>
  <div class="popup-footer-container">
    <button class="rectangle dark popup-trigger-button" (click)="createPageReq()">
      <span class="navigationText"> <i class="ci-Add_Plus"></i> {{popupType === 'edit-page' ? 'Seite updaten' : 'Seite hinzufügen'}} </span>
    </button>
  </div>
</div>
<!-- team -->
<div class="popup-container create-page" *ngIf="popupType === 'team'">
  <div class="popup-header-container">
    <h5 class="headline s5 text nomargin">Wähle das Projektteam aus</h5>
    <div class="popup-closing-button close-icon" (click)="closePopup()"></div>
  </div>
  <div class="popup-body-container">
    <!-- <span class="navigationText margin">Wähle das Projektteam aus</span> -->
    <div class="page-type-container page-item">
      <div
        *ngFor="let user of teamUsers"
        (click)="toggleTeamUser(user.userID)"
        [class.selected]="isSelected(user.userID)"
        class="page-type-item team card no-shade"
      >
        <div class="user-avatar">
          <ho-avatar [avatarData]="user"></ho-avatar>
        </div>
        <p>{{user.fullname}}</p>
      </div>
    </div>
  </div>
  <div class="popup-footer-container">
    <button class="rectangle dark popup-trigger-button" (click)="addTeamMembers()">
      <span class="navigationText"> <i class="ci-Users_Group"></i>Teammitglieder hinzufügen</span>
    </button>
  </div>
</div>
<!-- share content -->
<div class="popup-container create-post" *ngIf="popupType === 'share-content'">
  <div class="popup-header-container">
    <h5 class="headline s5 text nomargin">Content teilen</h5>
    <div class="popup-closing-button close-icon" (click)="closePopup()"></div>
  </div>
  <div class="popup-body-container share-content">
    <div class="popup-attachment-manager">
      <span class="navigationText">Was möchtest du teilen?</span>
      <div class="popup-attachment-buttons">
        <div class="popup-attachment-button pdf-icon" (mouseup)="openContent('pdf')" [class.selected]="contentType === 'pdf'">
          <input #pdfInput type="file" accept=".pdf" style="display:none" (change)="handle($event)">
        </div>
        <div class="popup-attachment-button img-icon" (mouseup)="openContent('img')" [class.selected]="contentType === 'img'">
          <input #imgInput type="file" accept="image/*" style="display:none" (change)="handle($event)" *ngIf="!this.file">
        </div>
        <div class="popup-attachment-button link-icon" (mouseup)="openLinkInput('website')" [class.selected]="contentType === 'website'"></div>
        <div class="popup-attachment-button youtube" (mouseup)="openLinkInput('youtube')" [class.selected]="contentType === 'youtube'"><img class="youtube-logo" src="../../../assets/icons/youtube-logo2.png" /> </div>
        <div class="popup-attachment-button loom" (mouseup)="openLinkInput('loom')" [class.selected]="contentType === 'loom'"><img class="loom-logo" src="../../../assets/icons/loom-logo 3.png" /> </div>
        <div class="popup-attachment-button vidyard" (mouseup)="openLinkInput('vidyard')" [class.selected]="contentType === 'vidyard'"><img class="vidyard-logo" src="../../../assets/icons/vidyard-logo.png" /> </div>
        <div class="popup-attachment-button miro" (mouseup)="openLinkInput('miro')" [class.selected]="contentType === 'miro'"><img class="miro-logo" src="../../../assets/icons/miro.png" /> </div>
        <div class="popup-attachment-button pitch" (mouseup)="openLinkInput('pitch')" [class.selected]="contentType === 'pitch'"><img class="pitch-logo" src="../../../assets/icons/pitch-logo.png" /> </div>
      </div>
      <div class="input-box" *ngIf="inputLink">
        <i class="ci-Link"></i>
        <input type="text" #link [(ngModel)]="spaceLink" />
      </div>
      <div *ngIf="file" class="file-display-container">
        <ho-file-display [editMode]="true" [fileData]="file" (removeFileReq)="removeFile()"></ho-file-display>
      </div>
    </div>
    <div class="content-title-container popup-item" *ngIf="inputLink || file">
      <span class="navigationText">Füge einen Titel hinzu</span>
      <div class="input-box">
        <input class="inputField" type="text" placeholder="" [(ngModel)]="contentTitle"/>
      </div>
    </div>
    <div class="content-description-container popup-item" *ngIf="inputLink || file">
      <span class="navigationText">Füge eine kurze Beschreibung hinzu</span>
      <div class="input-box">
        <input class="inputField" type="text" placeholder="" [(ngModel)]="contentDescription"/>
      </div>
    </div>

    <div class="thumbnail-switcher popup-item" *ngIf="inputLink || file">
      <p>Show Thumbnail</p>
      <div class="switch-container">
        <label class="switch" for="checkboxThumbnail">
          <input type="checkbox" id="checkboxThumbnail" [(ngModel)]="thumbnailCheckbox"/>
          <div class="slider round"></div>
        </label>
      </div>
    </div>

  </div>
  <div class="popup-footer-container share-content">
    <button class="rectangle dark popup-trigger-button" [class.onboarding]="onboardingState === 3.5" (click)="postContentReq2()">
      <span class="navigationText">Content veröffentlichen</span>
    </button>
  </div>
</div>
<!-- share-space -->
<div class="popup-container share-space" *ngIf="popupType === 'share-space'">
  <div class="popup-header-container">
    <h5 class="headline s5 text nomargin"> {{auth.isAuth() ? 'Teile den Sales Space mit deinem Kunden' : 'Teile den Space mit deinen Kollegen'}} </h5>
    <div class="popup-closing-button close-icon" (click)="closePopup()"></div>
  </div>
  <div class="popup-body-container">
    <div class="popup-body feed-link">
      <span class="feed-link-text" (click)="copyLinkToClipboard()">{{spaceLink}}</span>
    </div>
    <div class="helperText share-hint">Jeder mit dem Link kann auf deinen Sales Space zugreifen. Teile ihn nur mit deinen Kunden.</div>
  </div>
  <div class="popup-footer-container">
    <button class="rectangle dark popup-trigger-button" (click)="copyLinkToClipboard()">
      <span class="navigationText">Link kopieren</span>
    </button>
  </div>
</div>
<!-- copied-to-clipboard -->
<div class="popup-container copied-to-clipboard link-copied" *ngIf="popupType === 'copied-to-clipboard'" (click)="closePopup()"></div>
<!-- guest-name -->
<div class="popup-container guest-name" *ngIf="popupType === 'guest-name'">
  <div class="popup-header-container">
    <h5 class="headline s5 text nomargin"> <i class="ci-User_01"></i> Wer kommentiert?</h5>
  </div>
  <div class="popup-body-container">
    <p>Gib noch deinen Namen ein</p>
    <div class="input-box name">
      <input type="text" #name class="input" (keyup.enter)="setNameAndMail(name.value, mail.value)" placeholder="name..."/>
    </div>
  </div>
  <div class="divider"></div>
  <div class="popup-header-container no-flex">
    <h5 class="headline s5 text nomargin"> <i class="ci-Bell_Notification"></i> Erhalte Updates per E-Mail</h5> <span class="optional helperText"> • Optional </span>
  </div>
  <div class="popup-body-container">
    <p>Trag deine E-Mail ein und erhalte Updates, wenn es etwas neues im Space gibt. <strong> Keine Werbung & kein Spam. </strong></p>
    <div class="input-box mail">
      <input type="text" #mail class="input" [defaultValue]="postData.guest_mail ? postData.guest_mail : ''" (keyup.enter)="setNameAndMail(name.value, mail.value)" placeholder="your@email.com"/>
    </div>
  </div>
  <div class="popup-footer-container">
    <button class="rectangle dark popup-trigger-button" (click)="setNameAndMail(name.value, mail.value)">
      <span class="navigationText">Senden</span>
    </button>
  </div>
</div>
<!-- get-mail -->
<div class="popup-container request-password" *ngIf="popupType === 'request-password'">
  <div class="popup-header-container">
    <h5 class="headline s5 text nomargin">Dieser Space ist mit einem Password geschützt.</h5>
    <div class="popup-closing-button close-icon" (click)="closePopup()"></div>
  </div>
  <div class="popup-body-container">
    <p>Du solltest das Passwort durch einen sicheren Kanal bekommen haben.</p>
    <div class="input-box mail">
      <input type="password" #password class="input" (keyup.enter)="sendPassword(password.value)"/>
    </div>
  </div>
  <div class="popup-footer-container">
    <button class="rectangle dark popup-trigger-button" (click)="sendPassword(password.value)">
      <span class="navigationText">Zugang zum Space</span>
    </button>
  </div>
</div>
<!-- get-mail -->
<div class="popup-container guest-name" *ngIf="popupType === 'get-email'">
  <div class="popup-header-container">
    <h5 class="headline s5 text nomargin">Trage deine E-Mail Adresse ein, um Updates zu erhalten.</h5>
    <div class="popup-closing-button close-icon" (click)="closePopup()"></div>
  </div>
  <div class="popup-body-container">
    <p>Trag deine E-Mail ein und erhalte Updates, wenn es etwas neues im Space gibt. <strong> Keine Werbung & kein Spam. </strong></p>
    <div class="input-box mail">
      <input type="text" #mail class="input" (keyup.enter)="subscribeMailToSpace(mail.value)" placeholder="your@email.com"/>
    </div>
  </div>
  <div class="popup-footer-container">
    <button class="rectangle dark popup-trigger-button" (click)="subscribeMailToSpace(mail.value)">
      <span class="navigationText">Feed Abonnieren</span>
    </button>
  </div>
</div>