@use "sass:map";
@import "../../shared/css/variables";

.popup-container {
  position: relative;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
  width: calc(100% - 30px);
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  &.create-post {
    position: relative;
    margin: 5px;
    margin-left: 0px;
    max-width: 680px;
    // height: auto;
    height: 425px;
  }
  &.create-page {
    position: relative;
    margin: 5px;
    margin-left: 0px;
    max-width: 600px;
    height: auto;
    span.margin {
      margin-top: 16px;
      margin-bottom: 8px;
    }
    .page-type-item {
      display: flex;
      flex-direction: row;
      height: 36px;
      margin-bottom: 8px;
      cursor: pointer;
      align-items: center;
      .user-avatar {
        position: relative;
        width: 32px;
        height: 32px;
        margin: 8px;
        border-radius: 50%;
      }
      i {
        font-size: 18px;
        margin: 0px 16px;
      }
      &.selected {
        background-color: #F0F3F3;
      }
    }
  }
  &.guest-name {
    position: relative;
    height: auto;
    margin: 5px;
    margin-left: 0px;
    max-width: 480px;
    .popup-header-container {
      position: relative;
      height: auto;
    }
    .input-box {
      margin-top: 10px;
      height: 34px;
      width: 100%;
      input {width: 100%;}
    }
  }
  &.share-space {
    max-width: 400px;
    max-height: 220px;
  }
  &.copied-to-clipboard {
    width: 100%;
    max-width: 400px;
    max-height: 280px;
    min-width: 240px;
    min-height: 250px;
  }
  &.request-password {
    max-width: 480px;
  }
  .popup-header-container {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10px;
    &.no-flex {
      justify-content: flex-start;
    }
    h5 {
      align-self: center;
      margin-top: 8px;
      margin-bottom: 4px;
    }
    span {
      margin-top: 12px;
      margin-left: 12px;
      color: #B8B8FF;
    }
    .popup-closing-button {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }
  .divider {
    width: 100%;
    height: 1px;
    background-color: #F0F3F3;
    margin-top: 16px;
  }
  .popup-body-container {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .text-editor {
      height: 300px;
      margin-top: 10px;
      .post-writer {
        border: none;
        outline: none;
        resize: none;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        font-family: Source Sans Pro, sans-serif; 
        font-style: normal;
        font-weight: 700;
        color: #0E2F3E;
        font-weight: 400 !important;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.02em;
      }
    }

    input.input {
      box-sizing: content-box;
      padding-left: 10px;
      width: calc(100% - 10px);
    }
    .popup-attachment-manager {
      .popup-attachment-buttons {
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-top: 8px;
        .popup-attachment-button {
          cursor: pointer;
          width: 85px;
          height: 40px;
          margin-right: 10px;
          border-radius: 4px;
          background-color: #86A0A8;
          &.youtube {
            position: relative;
            font-size: 38px;
            background-color: #F0F3F3;
            .youtube-logo {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 74px;
              height: 15px;
            }
          }
          &.loom {
            background-color: #625DF5;
            position: relative;
            .loom-logo {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 71px;
              height: 32px;
            }
          }
          &.vidyard {
            background-color: #46DB83;
            position: relative;
            .vidyard-logo {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 80px;
              height: 32px;
            }
          }
          &.miro {
            background-color: #F0F3F3;
            position: relative;
            .miro-logo {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 60px;
              height: 42px;
            }
          }
          &.pitch {
            background-color: #000000;
            position: relative;
            .pitch-logo {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 61px;
              height: 33px;
            }
          }
          &.selected {
            // border: 2px solid $mainPurple;
            // border: 2px solid red;
            // box-shadow: 0px 0px 5px 8px rgb(149, 130, 255, 0.5);
            box-shadow: 1px 5px 5px 1px #00000040
          }
        }
      }
      .file-display-container {
        position: relative;
        margin-top: 10px;
        width: 100%;
      }
      .input-box {
        margin-top: 10px;
        i {
          font-size: 26px;
          position: absolute;
          left: 4px;
          top: 4px;
        }
        input {
          width: calc(100% - 36px);
          position: relative;
          left: 32px;
        }
      }
    }
    .popup-item {
      margin-top: 16px;
      .input-box {
        margin-top: 8px;
        input {
          width: 100%;
          height: 36px;
          padding: 0px 16px;
          box-sizing: border-box;
        }
      }
    }
    .thumbnail-switcher {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .feed-link {
      width: calc(100% - 20px);
      overflow-wrap: break-word;
      background-color: #F0F3F3;
      border-radius: 8px;
      margin: 10px 0px;
      padding: 10px;
      a {
        color: $mainOceans;
        font-family: Source Sans Pro, sans-serif;
      }
      .feed-link-text {
        color: $mainOceans;
        font-family: Source Sans Pro, sans-serif;
      }
    }
    .share-hint {
      color: #86A0A8;
      padding: 0px 10px;
    }
    .page-type-container {
      max-height: 600px;
      overflow-y: auto;
    }
  }
  .popup-footer-container {
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    padding: 10px;
    .popup-trigger-button {
      position: relative;
      width: 100%;
      .navigationText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }
    }
    &.share-content {
      position: absolute;
      bottom: 0px;
    }
  }
}