@use "sass:map";
@import "../../shared/css/variables";

.page-container {
  position: absolute;
  width: 100%;
  height: 100%;
  .content-container {
    position: absolute;
    top: 0;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
    .spacer {
      width: 100%;
      height: 56px;
    }
    .content-title-container {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      left: 50%;
      transform: translateX(-50%);
      max-width: 760px;
      margin: 12px 0px;
      // background-color: red;
      .headline {
        color: #0E2F3E;
        position: relative;
      }
      .title-edit-icon {
        position: relative;
        top: 4px;
      }
    }
    .space-content {
      position: relative;
      margin-bottom: 16px;
      width: 80%;
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden;
      max-width: 760px;
    }
  }
  .content-foot-container {
    position: absolute;
    width: calc(100% - 2px);
    z-index: 10;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $background;
    .post-creator {
      position: relative;
      width: 80%;
      max-width: 760px;
      margin: 16px 0px;
      left: 50%;
      margin-top: 8px;
      transform: translateX(-50%);
    }
  }
  .content-container::-webkit-scrollbar { 
    display: none;
  }
  .posts-container::-webkit-scrollbar { 
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .page-container {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);   


  }
}
.content-title-container {
  position: relative;
  left: 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px 0px;
  &.content {
    position: relative;
    display: flex;
    flex-direction: row;
    bottom: 0;
    justify-content: space-between;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 760px;
    margin: 12px 0px;
    height: 40px;
  }
  .title {
    position: relative;
    color: #0E2F3E;
    left: 16px;
    z-index: 2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &.content {
      color: #0E2F3E;
      position: relative;
      left: 0;
    }
  }
  .title-edit-icon {
    right: 16px;
    bottom: 0px;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    &.content {
      right: 8px;
    }
  }
  .title-hint {
    position: absolute;
    top: -16px;
    left: 16px;
    color: #86A0A8;
    &.content {
      color: #86A0A8;
      top: -16px;
      left: 0px;
    }
  }
  .title-input {
    border: none;
    outline: none;
    width: calc(100% - 136px);
    position: relative;
    left: 16px;
    padding: 0;
    padding-left: 10px;
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.02em;
    color: #0E2F3E;
    height: 36px;
    border: 1px solid #86A0A8;
    border-radius: 8px;
    &.content {
      width: calc(100% - 106px);
      left: 0px;
      border: 1px solid #86A0A8;
      border-radius: 8px;
    }
  }
  .title-save-button {
    width: 80px;
    position: relative;
    right: 16px;
    &.content {
      right: 0px;
    }
  }
}
