<h1>Login/Signup</h1>

<form>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="email">
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password">
  </div>

  <button (click)="login()">Login</button>
  <button (click)="signUp()">Signup</button>
</form>
<corbado-auth project_id="pro-7609636590531224354" conditional="yes">
  <input name="username" id="corbado-username" value=""
         required autocomplete="webauthn" autofocus/>
</corbado-auth>
