@use "sass:map";
@import "../css/sharedStyles.scss";
@import "../../../shared/css/_variables.scss";

h4{
    margin:0;
}

.forgetText{
    width: 300px;
    text-align: center;
    margin-bottom: 32px;
}

.password-req {
  text-align: center;
  width: 100%;
  min-width: 400px;
  margin-bottom: 16px;
}

.login-form {
  margin: 0px 36px;
  width: calc(100% - 72px);
  form {
    position: relative;
    width: 100%;
    margin: 0px;
    .input-box {
      margin-bottom: 16px;
      width: 100%;
      background-color: white;
      input {
        padding-left: 28px;
        width: calc(100% - 30px);
      }
      .show-password {
        position: absolute;
        right: 8px;
        top: 7px;
        color: #9381FF;
        cursor: pointer;
      }
    }
    i {
      position: absolute;
      color: #86A0A8;
      z-index: 2;
      left: 6px;
      top: 10px;
    }
    button {
      margin-top: 14px;
      margin-bottom: 32px;
      width: 100%;
      i {
        position: relative;
        left: -4px;
        top: 0px;
        color: white;
      }
    }
    .agb-container {
      display: flex;
      flex-direction: row;
      margin-top: 12px;
      .terms {
        position: relative;
        display: inline;
        text-align: center;
        width: 100%;
        white-space: nowrap;
      }
    }
  }
  .forgot-password {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
  }
}

.sentInfo{
    background-color: map.get($blueShadow, "30");
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 300px;
    padding: 10px 6px;
    .sentText{
        text-align: center;
        font-weight: 700;
        font-size: 16px;
    }
}

.passwordTooltip {
    position: relative;
    display: flex;
    align-items: center;
    .formPassword {
      margin: 0;
    }
    .tooltip {
      position: absolute;
      right: -30px;
      display: inline-block;
      top: 14px;
      i {
        font-size: 20px;
      }
    }
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: map.get($blueShadow, "30");
    color: $mainBlue;
    top: -54px;
    right: -356px;
    border-radius: 10px;
    padding: 12px;
    position: absolute;
    z-index: 1;
    p{
      margin: 0;
    }
    .passwordInfo {
      list-style: none;
      padding: 0;
    }
  }
  
  .tooltip:hover:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 32px solid map.get($blueShadow, "30");
    left: 20px;
    top: -6px;
  
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }