<div class="center">
    <h4 class="headline s4">Passwort festlegen</h4>
</div>
<div class="center">
    <!-- <p class="forgetText"> Nutze ein starkes Passwort, um deinen Account zu schützen </p> -->
    <p class="password-req">Password requirements: <br/>9 Characters · 1 uppercase · 1 lowercase</p>
</div>

<div class="login-form" (keyup.enter)="resetForm()">
  <form  [formGroup]="resetPass">
      <div class="input-box">
        <i class="ci-Mail"></i> <input  class="inputField" type="text" placeholder="your@email.com" formControlName="email"/>
      </div>
  
      <div class="input-box">
        <i *ngIf="!showPassword" class="ci-Hide password"></i> <input *ngIf="!showPassword" class="inputField" type="password" placeholder="" formControlName="password" />
        <i *ngIf="showPassword" class="ci-Show password"></i> <input *ngIf="showPassword"  class="inputField" type="text" placeholder="" formControlName="password" />
        <p class="show-password" *ngIf="!showPassword" (click)="showPassword = true;">show</p><p class="show-password" *ngIf="showPassword" (click)="showPassword = false;">hide</p>
      </div>
  
      <div class="input-box">
        <i class="ci-Hide password"></i> <input class="inputField" type="password" placeholder="" formControlName="passwordConfirm" />
      </div>
      <button class="rectangle dark navigationText" (click)="this.resetForm()" [class.disabled]="this.resetPass.invalid || !passwordMatches()" [disabled]="this.resetPass.invalid || !passwordMatches()"> <i class="ci-Arrow_Right_MD"></i> Bestätigen </button>

    <!--  <ho-basic-button
        [text]="'Bestätigen'"
        [color]="'blue'"
        [disabled]="resetPass.invalid"
        [size]="{ width: '100%', height: '' }"
        (click)="resetForm()"
      ></ho-basic-button> -->
  </form>
</div>


<div class="sub-actions">
    <p class="navigationText link" routerLink="../">Login</p>
    <p class="navigationText link" routerLink="./register">Registrieren</p>
</div>