@use "sass:map";
@import '../../css/variables';
.mat-chip{
    /* Paragraph Text */
    font-family: Source Sans Pro, sans-serif;
    color: #0E2F3E !important;
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.25rem;
    /* identical to box height, or 129% */      
    letter-spacing: 0.02em;    
    width: auto !important;
    height: 38px !important;
    background: $mainWhite !important;
    border: 1px solid map.get($blueShadow, "80") !important;
    box-sizing: border-box !important;
    border-radius: 12px !important; 
    & i{
      margin:0 10px 0px 2px;
      font-size: 16px;
      //font-weight: bold;
      &.button{
        margin:0 0px 0 5px;
        cursor: pointer;
      }
    }
    &.active{
      color: #FFFFFF !important;
      background: #36606E !important;
      & i{
        color: #FFFFFF;
      }
  
    }
  }