<div class="outerContainer">
  <div class="closeButton">
    <i mat-dialog-close class="ci-off_outline_close"></i>
  </div>
  <div class="container">
    <div
      class="content"
      *ngIf="selectedLink && !multiLink"
    >
      <div class="header">
        <h4 class="headline s4 no margin">
          Hier ist dein Privater Link (Single Use)
        </h4>
        <p class="">
          Kopiere den Link und schicke ihn an deine Kunden oder Interessenten.
          Nach der Registrierung erhalten sie Zugriff auf dein Portfolio.
          Registrierte Kunden sieht Du im Bereich “Deine Kunden”.
        </p>
      </div>
      <div class="linkSection paddingLink">
        <div class="box">
          <i class="ci-Link"></i>
          <p>
            {{ route }}
          </p>
        </div>
        <ho-basic-button
          [color]="'orange'"
          [text]="'Link kopieren'"
          [size]="{ width: '100%', height: '40px' }"
          class="linkButtom"
          (clickAction)="copyLink()"
        ></ho-basic-button>
      </div>
      <div class="doneButton">
        <ho-basic-button
          [color]="'blue'"
          [text]="'Fertig'"
          [size]="{ width: '150px', height: '40px' }"
          (clickAction)="selectedLink=false"
        ></ho-basic-button>
      </div>
    </div>
    <div class="content" *ngIf="!selectedLink">
      <div class="header">
        <h4 class="headline s4 nomargin">
          Generiere einen Link, um Kunden und Interessenten einzuladen, dein
          Portfolio anzuschauen
        </h4>
      </div>

      <div class="linkSection">
        <div class="pickLink">
          <div class="pickContainer">
            <h5 class="headline s5 nomargin">Privater Link (Single Use)</h5>
            <p class="helperText nomargin">
              Über einen privaten Link kann sich nur ein Nutzer registrieren.
              Dieser ist für persönliche Einladungen geeignet.
            </p>
            <ho-basic-button
              class="linkPickButton"
              [color]="'orange'"
              [text]="'Privaten Link erstellen (Single Use)'"
              [size]="{ width: '366px', height: '42px' }"
              (clickAction)="pickLink(false)"
              mat-dialog-close
            ></ho-basic-button>
          </div>
          <div class="pickContainer">
            <h5 class="headline s5 nomargin">Campaign Link (Multi Use)</h5>
            <p class="helperText nomargin">
              Über einen Campaign Link können sich mehrere Nutzer registrieren.
              Dieser Link ist für Kamapgnen und Newsletter geeignet.
            </p>
            <ho-basic-button
              class="linkPickButton"
              [color]="'blue'"
              [text]="'Campaign Link erstellen (Multi Use)'"
              [size]="{ width: '366px', height: '42px' }"
              (clickAction)="pickLink(true)"
              mat-dialog-close
            ></ho-basic-button>
          </div>
        </div>
      </div>
      <div class="doneButton">
        <ho-basic-button
          [color]="'blue'"
          [text]="'Fertig'"
          [size]="{ width: '150px', height: '40px' }"
          mat-dialog-close
        ></ho-basic-button>
      </div>
    </div>

    
    <div
      class="content"
      *ngIf="selectedLink && multiLink"
    >
      <div class="header">
        <h4 class="headline s4 nomargin">
          Hier ist dein Campaign Link (Multi Use)
        </h4>
        <p class="">
          Kopiere den Link und binde diesen auf deiner Website, in Newslettern oder Kampagnen ein. Nach der Registrierung erhalten Interessenten oder Kunden  Zugriff auf dein Portfolio. Registrierte Kunden sieht Du im Bereich “Deine Kunden”
        </p>
      </div>

      <div class="linkSection paddingLink">
        <div class="box">
          <i class="ci-Link"></i>
          <p>
            {{ route }}
          </p>
        </div>
        <ho-basic-button
          [color]="'blue'"
          [text]="'Link kopieren'"
          [size]="{ width: '100%', height: '40px' }"
          class="linkButtom"
          (clickAction)="copyLink()"
        ></ho-basic-button>
      </div>
      <div class="doneButton">
        <ho-basic-button
          [color]="'blue'"
          [text]="'Fertig'"
          [size]="{ width: '150px', height: '40px' }"
          (clickAction)="selectedLink=false"
        ></ho-basic-button>
      </div>
    </div>
  </div>
</div>
