mat-accordion{
  border: 0px;
}
mat-panel-title{
  & i{
    font-size: 18px; font-weight: 700; color: #2E3A59; margin-right: 2%;
  }
}
mat-expansion-panel{
  & p{
    margin-left:3%;
  }
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  // box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  box-shadow:0px 0px 0px 0px;
  border-top: 1px solid #DBE3E5;
}
