@import '../../../css/variables';

.basic{
  height: 42px;
  width: 152px;
  border-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{cursor: pointer;}   
  &:not(:disabled):hover{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
  }
  &:disabled{
    @include colorButton(map-get($blueShadow,'30'));
  }  
}

.blue{
  @include colorButton($mainBlue);
  &:not(:disabled):not(:active):hover{
    @include colorButton(map-get($blueShadow,'80'));         
  }
  &:not(:disabled):active{
    @include colorButton($mainBlue);
  }
} 

.orange{
  @include colorButton($mainOrange);
  &:not(:disabled):not(:active):hover{
    @include colorButton(map-get($orangeShadow,'80'));         
  }
  &:not(:disabled):active{
    @include colorButton($mainOrange);
  }
} 

.outline-blue{
  @include colorButton($mainWhite);
  border: 2px solid $mainBlue;
  &:not(:disabled):not(:active):hover{
    @include colorButton(map-get($blueShadow,'80'));
    border:none;         
  }
  &:not(:disabled):active{
    @include colorButton($mainWhite);
    border: 2px solid $mainBlue;
  }
}