<form [formGroup]="selectForm">
  <mat-select
  class="color"
    #select
    formControlName="selectInfo"
    [ngClass]="{ activeIcon: clicked }"
    (click)="clicked = true"
    (focusout)="clickAction()"
    panelClass="selectPanelColor"
    (selectionChange)="emitInfo()"
    disableOptionCentering
  >
    <mat-select-trigger
      [ngStyle]="{
        background: findByIdOptions('color')
          ? findByIdOptions('color')
          : '#000000',
        color: selectForm.value.selectInfo == -1 ? '#86A0A8' : '#FFFFFF'
      }"
    >
      <span>
        {{ findByIdOptions("name") }}
      </span>
    </mat-select-trigger>
    <mat-optgroup [label]="title" *ngIf="title">
      <mat-option
        class="option"
        *ngFor="let option of optionList"
        (click)="check = !check"
        [value]="option.id"
      >
        <div
          class="optionTag"
          [ngStyle]="{
            'background-color': option.color ? option.color : '#000000'
          }"
          [ngClass]="{
            optionNotChecked: option.id != selectForm.value.selectInfo
          }"
        >
          <p
            [ngStyle]="{
              color: option.id == -1 ? '#86A0A8' : '#FFFFFF'
            }"
          >
            {{ option.name }}
          </p>
        </div>
        <i
          class="ci-Check"
          *ngIf="option.id == selectForm.value.selectInfo"
        ></i>
      </mat-option>
    </mat-optgroup>
    <ng-container *ngIf="!title">
      <mat-option
        class="option"
        *ngFor="let option of optionList"
        (click)="check = !check"
        [value]="option.id"
      >
        <div
          class="optionTag"
          [ngStyle]="{
            'background-color': option.color ? option.color : '#000000',
            color: option.id == -1 ? '#86A0A8' : '#FFFFFF'
          }"
          [ngClass]="{
            optionNotChecked: option.id != selectForm.value.selectInfo
          }"
        >
          <p>{{ option.name }}</p>
        </div>
        <i
          class="ci-Check"
          *ngIf="option.id == selectForm.value.selectInfo"
        ></i>
      </mat-option>
    </ng-container>
  </mat-select>

</form>
