@use "sass:map";
@import '../../css/variables';
.dsc-carousel {    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    &::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0);
        border-radius: 25px;
    }

    &__content {
        border-radius: 25px;
        text-align: center;
        width: 100%;
        height: 78%;
        align-self: stretch;
        display: flex;
        overflow: hidden;
        &-item {
            float: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            min-width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 0.2s all ease-in;            
        }
    }

    &__btns {
        position: absolute;
        top: 34%;
        width: 105%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        > i {
            padding: 1px;
            //opacity: .7;
            border-radius: 200%;
            color: $mainBlue;
            background-color:$mainWhite;            
            box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
            font-size: 260%;
            cursor: pointer;
            justify-content: space-between;
            &:hover {
                //opacity: .8;
                box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.329);
            }
        }
    }

    &__steps {
        background-color: $mainWhite;
        position: absolute;
        bottom: 0;
        height: 20%;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        &-step {
            position: relative;
            height: 100%;
            width: 25%;
            margin-right:5px;
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.705);
            cursor: pointer;
            background-size: 100% 100%;
            transition: 0.75s all ease-in-out;
            &:hover, &-active{
                opacity: 0.7;
            }
        }
    }
}