.container{
  position: absolute;
  width: calc(100% - 91px - 40px); 
  min-width: 360px;
  max-width:3840px;
  min-height: 640px;
  max-height:2160px;
  transition: all 0.5s ease;
  height: 100vh;
  margin-left: 91px;
  padding-left: 40px;

}
.opened{  
  transition: all 0.5s ease;
  width: calc(100% - 217px - 40px);
  margin-left: 217px;

}