<div class="center">
    <h4 class="headline s4">Email verification</h4>
</div>
<div class="center" *ngIf="status === 'no-login'">
  <br/>
  <p>Your haven't confirmed your email yet!</p>
  <p>In order to keep using hæppie we need to make sure that you gave us a valid email address.</p>
  <p>Please click on the confirmation link that you received per email when you registered.</p>
  <p>If you can't find the email anymore, you can ask for a new confirmation link by clicking here:</p>
  <br/>
  <div class="input-box">
    <i class="ci-Mail"></i> <input #mail class="inputField" type="text" placeholder="your@email.com" (keyup.enter)="sendConfirmationEmail(mail.value)" />
  </div>
  <br />
  <button class="rectangle dark" (click)="sendConfirmationEmail(mail.value)">Get new confirmation link</button>
</div>
<div class="center" *ngIf="status === 'email-sent'">
  <p>
    <br />A new confirmation email has been sent to the address provided.
  </p>
</div>
<div class="center" *ngIf="status === 'unconfirmed'">
    <p>
      <br />Checking your email...
    </p>
</div>
<div class="center" *ngIf="status === 'confirmed'">
  <p>
    <br />Your email address is now confirmed!<br />
      You will be redirected to the login page...
  </p>
</div>
<div class="center" *ngIf="status === 'error'">
  <p>
    <br />There was a problem with the confirmation process.<br />
    If it persists, contact the corbado team per email!
  </p>
</div>