
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.
@import "@fontsource/source-sans-pro";

@import "src/app/shared/css/variables";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$corbado-frontend-primary: mat.define-palette(mat.$blue-grey-palette);
$corbado-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$corbado-frontend-warn: mat.define-palette(mat.$red-palette);

$corbado-typography: mat.define-typography-config(
    $font-family: 'Source Sans Pro, sans-serif',
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$corbado-frontend-theme: mat.define-light-theme((
  color: (
    primary: $corbado-frontend-primary,
    accent: $corbado-frontend-accent,
    warn: $corbado-frontend-warn,
  ),
  typography: $corbado-typography,
));



$myBlueColor: #0E2F3E;

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($corbado-frontend-theme);

/* You can add global styles to this file, and also import other style files */
*:focus{
  outline: none;
}

html{ height: 100vh; width: 100vw; margin: 0 !important; overflow: hidden;}
body {
  margin: 0 !important;
  height: 100vh;
  & p {
    /* Paragraph Text */
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    /* identical to box height, or 129% */      
    letter-spacing: 0.02em;     
    /* Main Colors/æ - dark blue */      
    color: #0E2F3E;
    margin: 0;
    white-space: pre-wrap;
  }

  // Font Styles
  & .headline{
    font-family: Source Sans Pro, sans-serif; 
    font-style: normal;
    font-weight: 700;
    color: #0E2F3E;
      // Sizes
    &.s1{ 
      font-size: 4.5rem;
      line-height: 1;
      letter-spacing: -0.02em;
    }
    &.s2{
      font-size: 2.5rem;
      line-height: 1;
      letter-spacing: 0;
    }
    &.s3{        
    font-size: 2rem;
    line-height: 1.25;  
    letter-spacing: 0;
    @media (max-width: 600px) {
      font-size: 1.25rem;
      line-height: 2;
    }    
    }
    &.s4{
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: 0;
    } 
    &.s5{
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0;
    }
    &.s6{
    font-weight: 400 !important;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }     
  }

  & .navigationText{    
    /* Navigation Text */
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    /* identical to box height, or 114% */
    letter-spacing: 0.02em;
    /* Main Colors/æ - dark blue */
    color: #0E2F3E;
  }

  & .helperText{
    /* Helper Text */
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: .75rem;
    line-height: 1rem;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
    /* Main Colors/æ - dark blue */
    color: #0E2F3E;
    &.timing {
      color: #86A0A8;
    }
  }  
}

@keyframes pulsate {
  0%   { box-shadow: 0 0 0 rgb(149, 130, 255, 0.5); }
  50%  { box-shadow: 0px 0px 5px 8px rgb(149, 130, 255, 0.5); }
  100% { box-shadow: 0 0 0 rgb(149, 130, 255, 0.5); }
}

.input-box {
  position: relative;
  height: 34px;
  border: 1px solid #86A0A8;
  border-radius: 8px;
  padding: 0px;
  -webkit-transition: box-shadow 0.3s ease-in-out 0s;
  -moz-transition: box-shadow 0.3s ease-in-out 0s;
  -o-transition: box-shadow 0.3s ease-in-out 0s;
  -ms-transition: box-shadow 0.3s ease-in-out 0s;
  transition: box-shadow 0.3s ease-in-out 0s;
  &:has(input:focus) {
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.2)
  }
  input {
    width: 100%;
    position: relative;
    border: none;
    height: 34px;
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.02em;     
    color: #0E2F3E;
    white-space: pre-wrap;
    border-radius: 8px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    &.padding {
      padding-left: 8px;
      width: calc(100% - 8px);
    }
    &.invalid {
      border: 1px solid rgba(255, 0, 76, 0.847);
    }
  }
  &.textarea {
    height: 110px;
    textarea {
      position: relative;
      border: none;
      outline: none;
      resize: none;
      height: 110px;
      width: 100%;
      font-family: Source Sans Pro, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.25rem;
      letter-spacing: 0.02em;     
      color: #0E2F3E;
      white-space: pre-wrap;
      border-radius: 8px;
      padding: 0px;
      margin: 0px;
      background-color: transparent;
    }
  }
}



.BETA-container {
  background-color: rgba(135, 64, 231, 0.1);
  color: $mainPurple;
  border: 1px solid $mainPurple;
  border-radius: 100px;
  width: fit-content;
  height: 22px;
  margin-left: 16px;
  .BETA-text {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    margin: 0px 12px;
  }
}

button {
  &.rectangle {
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    height: 36px;
    i {
      margin: 0px 8px;
    }
  }
  &.dark {
    background-color: #0E2F3E;
    color: $mainWhite;
  }
  &.light {
    background-color: $mainWhite;
    color: #0E2F3E;
    border: 1px solid $mainBlue;
  }
  &.round {
    position: relative;
    outline: none;
    border: none;
    cursor: pointer;
    height: 36px;
    width: 36px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.15));
    border-radius: 18px;
    font-size: 24px;
    transition: 0.3s;
    padding: 0px;
    i {
      padding: 0px;
      position: absolute;
      top: 6px;
      left: 6px;
    }
    &:hover {
      background-color: $mainBlue;
      color: $mainWhite;
    }
  }
  &.disabled {
    background-color: #DBE3E5;
    color: $mainWhite;
    cursor: default;
    border: none;
  }
}

.switch-container {
  .switch {
    display: inline-block;
    height: 28px;
    position: relative;
    width: 50px;
  }
  .switch input {
    display:none;
  }
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  .slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 24px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 24px;
  }
  :checked + .slider {
    background-color: $mainPurple;
  }
  input:checked + .slider:before {
    transform: translateX(22px);
  }
  .slider.round {
    border-radius: 25px;
  }
  .slider.round:before {
    border-radius: 25px;
  }
}

.onboarding {
  animation: pulsate 2s ease-out infinite;
}

.card {
  background: $mainWhite;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  &.no-shade {
    border: 1px solid #F0F3F3;
    box-shadow: none;
  }
}

.my-full-screen-dialog {
  max-width: 100vw !important;
  box-sizing: border-box;  
  
  position: relative !important;
  border-radius: 20px 20px 0px 0px;
  top:5vh;

}

.border-dialog{
  & .mat-dialog-container{
    border-radius: 20px;
    padding: 0 !important;
  }
}

.my-full-screen-dialog .mat-dialog-container {
  border-radius: 0;

  position: relative;
  width: 92vw;
  overflow: hidden;
  top:0;
  left: 0;
  right: 0;    
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px 20px 5px 5px;  
}

.hideBar{
  overflow: hidden;
}

.mat-autocomplete-panel-above .mat-autocomplete-panel{ 
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.mat-autocomplete-panel{
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;

}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  //box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.082); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #DBE3E5;
  border-radius: 5px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {  
  background: #86A0A8; 
  cursor: pointer;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Material SnackBarCustom */
.mat-snack-bar-container{
  min-height: auto !important;
  padding:0 !important;
}

.cc-banner.cc-bottom {
  left: 50% !important;
  bottom: 20px !important;
  width: 50% !important;//calc(100% - 40px) !important;
  min-width: 300px;
  border-radius: 10px !important;
  transform: translateX(-50%);
  font-size: 12px;
  padding: 10px;
}

@media (max-width: 600px) {
  /* For mobile phones: */
  .cc-window.cc-bottom {
    font-size: 10px !important;
    width: calc(100% - 40px) !important;
    padding: 5px;
    left: 50% !important;
    bottom: 20px !important;
    transform: translateX(-50%);
  }
  .cc-revoke.cc-bottom {
    display: none;
  }
}

/* Mat select arrow */ 
mat-select .mat-select-arrow-wrapper {
  background: url("assets/imgs/chevron_down.svg");
  position: relative;
  top: -2px;
  margin-right: 9px;
  height: 20px;
 }

 mat-select.activeIcon{
  .mat-select-arrow-wrapper {
    background: url("assets/imgs/chevron_up.svg");
   }
 }

 .mat-select-arrow {
   opacity: 0;
 }

 .nomargin{
   margin:0;
 }

 .custom-modalbox{
  & .mat-dialog-container{
    border-radius: 13px;
  }
 }
.link-icon {
  background: url("assets/icons/link-icon.svg") center no-repeat;
}
.communication-icon {
  background: url("assets/icons/communication-icon.svg") center no-repeat;
}
.youtube-icon {
  background: url("assets/icons/YouTube-White-Logo.wine.svg") cover center no-repeat;
}
.link-icon-black {
  background: url("assets/icons/link-icon-black.svg") center no-repeat;
}
.img-icon {
  background: url("assets/icons/image-icon.svg") center no-repeat;
}
.pdf-icon {
  background: url("assets/icons/pdf-icon.svg") center no-repeat;
}
.close-icon {
  background: url("assets/icons/close-icon.svg") center no-repeat;
}
.add-icon-dark {
  background: url("assets/icons/add-icon.svg") center no-repeat;
}
.add-icon-light {
  background: url("assets/icons/add-icon-light.svg") center no-repeat;
}
.users-icon-violett {
  background: url("assets/icons/users-icon-violett.svg") center no-repeat;
}
.more-icon {
  background: url("assets/icons/more-icon.svg") center no-repeat;
}
.trash-icon {
  background: url("assets/icons/trash-icon.svg") center no-repeat;
}
.paper-plane-icon {
  background: url("assets/icons/paper-plane-icon.svg") center no-repeat;
}
.pencil-icon {
  background: url("assets/icons/pencil-icon.svg") center no-repeat;
}
.pencil-icon-dark {
  background: url("assets/icons/pencil-icon-black.svg") center no-repeat;
}
.pencil-icon-white {
  background: url("assets/icons/pencil-icon-white.svg") center no-repeat;
}
.log-out-icon {
  background: url("assets/icons/log-out-icon.svg") center no-repeat;
}
.settings-icon {
  background: url("assets/icons/settings-icon.svg") center no-repeat;
}
.bell-icon {
  background: url("assets/icons/bell-icon.svg") center no-repeat;
}
.chevron-down-icon {
  background: url("assets/icons/Chevron_Down_1.svg") center no-repeat;
}
.feed-share-icon {
  background: url("assets/icons/feed-share-icon.svg") center no-repeat;
}
.corbado-logo {
}
.first-feed-hint {
  background: url("assets/imgs/ersten-feed-hint.png") center no-repeat;
}
.link-copied {
  background: url("assets/imgs/link-copied-to-clipboard.png") no-repeat center/100%;
}
.registration-img {
  background: url("assets/imgs/registration-text-white.png") no-repeat center/80%;
}
.doc-background-img {
  background: url("assets/imgs/doc-img.png") no-repeat center/100%;
}
.link-background-img {
  background: url("assets/imgs/link-img.png") no-repeat center/100%;
}
.hide-icon {
  background: url("assets/icons/hide-icon.svg") center no-repeat;
}
.microsoft-teams {
  background: url("assets/imgs/microsoft_teams_logo2.png") no-repeat center/60%;
}
.save-icon {
  background: url("assets/icons/save.svg") center no-repeat;
}
.corbado-white-img {
}
.link-peach {
  background: url("assets/icons/link-peach.svg") center/90% no-repeat;
}
.spreadly-icon {
  background: url("assets/icons/logo_spreadly.png") center/100% no-repeat;
}
