@import '../../css/variables';

.ho-state-circles{
  display: flex;
  margin-top: 11px;
  flex-direction: column;
  border: 1px solid #DBE3E5;
  box-sizing: border-box;
  padding: 10px 0;
  border-radius: 8px;
  .circles{
    position: relative;
    display: flex;
    align-items:center;
    margin: 0 auto;
    .state{
      position: relative;
      display: flex;
      align-items:center;
    }
    .circle{
      width: 26px;
      height: 26px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      border:2px solid $secondGray;
      background: $mainWhite;
      display:flex;
      align-items:center;
      justify-content:center;
      .icon{
        color: $mainWhite;
        font-size:18px;
        font-weight:200;
        display:none;
      }
    }
    .circle-active{
      &:hover{
        transform: scale(1.2,1.2);
      }
      cursor: pointer;
    }
    .circle-check{
      background: $mainOceans;
      border-color:$mainOceans;
      .icon{
        display:block;
        animation-duration: 0.3s;
        animation-name: state-check-animation;
      }
    }
    .bar{
      width:60px;
      height: 3px;
      background: $secondGray;
    }
    .bar-check{
      height: 3px;
      background: $mainOceans;
      width: 0;
    }
    .bar-check-50{
      animation-duration: 0.15s;
      animation-name: state-bar-animation-50;
      width: 50%;
    }
    .bar-check-100{
      animation-duration: 0.3s;
      animation-name: state-bar-animation-100;
      width: 100%;
    }
  }
  .texts{
    display: flex;
    align-items:center;
    margin: 0 auto;
    max-width: 100%;
    .state-text{
      &:first-child{
        margin-left: 0px !important;
      }
      margin: 5px auto;
      width: 110px;
      text-align:center;
      word-wrap: break-word;
    }
  }
}
@keyframes state-check-animation {
  0% {
    font-size:0px;
  }
  90% {
    font-size:28px;
  }
  100% {
    font-size:18px;
  }
}
@keyframes state-bar-animation-50 {
  0% {
    width: 0px;
  }
  100% {
    width:50%;
  }
}
@keyframes state-bar-animation-100 {
  0% {
    width: 0%;
  }
  100% {
    width:100%;
  }
}
