<div [ngStyle]="size" class="searchContainer">
  <i class="ci-search"></i>
  <input type="text" [placeholder]="placeholderText" [formControl]="myControl"
    [matAutocomplete]="(showResults)?auto:filter" (keyup)="startFind=true" (keyup.enter)="enterEmition(myControl.value)">
  <mat-autocomplete [classList]="'border'" #filter="matAutocomplete">
  </mat-autocomplete>
 
  <mat-autocomplete [classList]="'border'" #auto="matAutocomplete">
    <mat-option (click)="emitChangeSelectOption(option)" *ngFor="let option of filteredOptions | async"
      [value]="option.text">
      <div class="option-container">
        <div class="option-container-text">
          <div *ngIf="option.image" [lazyLoad]="option.image" [defaultImage]="utils.loadDefaultImage()"
            class="ci-search-item-image">
          </div>
          <strong>{{option.text}}</strong>
        </div>
        <ho-icon-text-button *ngIf="option.button" [class]="'darkBlue'" [size]="{ width: '130px', height: '28px' }"
          [icon]="option.button.icon" [text]="option.button.text"></ho-icon-text-button>
      </div>
    </mat-option>
     <ng-container *ngIf="startFind">
    <div class="not-found-container" *ngIf="searchNofound && filteredOptions | async;let filteredOptionsList">
      <mat-option class="not-found-option" disabled *ngIf="filteredOptionsList.length == 0 && myControl.value.length != 0">
        <div class="not-found-option-container">
          <i class="icon ci-sad"></i>
          <div class="not-found-option-text">
            <strong>{{searchNofound.title}}</strong>
            <p>{{searchNofound.subtitle}}</p>
          </div>
          <ho-basic-button [color]="'orange'" (click)="searchNofound.button.click()" [text]="searchNofound.button.text"
            [size]="{width:'152px',height:'40px'}">
          </ho-basic-button>
        </div>
      </mat-option>

    </div>
  </ng-container>
  </mat-autocomplete>
</div>