@use "sass:map";
@import "../../css/variables";

.avatar-container {
  cursor: pointer;
  background-color: #DBE3E5;
  top: 2.5px;
  left: 2.5px;
  width: 100%;
  height: 100%;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  border-radius: 50%;
  position: relative;
  .avatar-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Source Sans Pro, sans-serif;
  }
  .img-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    .img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}