$heightTopBarPx: 50px;

.new-layout-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  .top-bar-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: $heightTopBarPx;
    @media (max-width: 600px) {
      display: none;
    }
  }
  .body-container {
    position: relative;
    height: calc(100% - 50px); // heightTopBarPx
    min-height: 400px;
    left: 0;
    right: 0;
    padding: 0px 30px;
    margin: 0;
    &.vis {
      padding: 0;
      height: 100%;
    }

    &.spaces {
      padding: 0;
      height: 100%;
    }
    @media (max-width: 600px) {
      padding: 0px;
      height: 100%;
    }
    .hidden {
      display: none;
    }
  }
}