@use "sass:map";
@import "../../shared/css/variables";
@import "../../shared/css/classes";


h5 {
  position: relative;
  margin: 8px 0px;
  left: 8px;
}
span.helperText.space {
  position: relative;
  color: #86A0A8;
  left: 24px;
}
.previews-container {
  max-height: calc(100% - 110px);
  height: calc(100% - 110px);
  overflow: hidden;
  overflow-y: auto;
  .space-previews-container {
    position: relative;
    cursor: pointer;
    .space-preview {
      box-sizing: border-box;
      margin: 8px 16px;
      border-radius: 4px;
      position: relative;
      height: fit-content;
      width: calc(100% - 32px);
      display: flex;
      flex-direction: row;
      padding: 4px;
      &.first {margin-top: 0px;}
      &.selected {
        background-color: #F0F3F3;
        background-color: #DBE3E5;
      }
      .space-preview-icon {
        position: relative;
        width: 40px;
        height: 40px;
        margin-right: 4px;
        border-radius: 20px;
      }
      .space-preview-content {
        position: relative;
        width: calc(100% - 50px);
        height: 42px;
        .space-preview-title {
          color: #04384A;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          clear: both;
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: calc(100% - 20px);
          &.no-title {color: #757575}
          &.foreign {
            position: relative;
            top: 10px;
            transform: translate();
  
          }
        }
        .space-preview-activity {color: #14B2B8;}
        .space-preview-new {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-5px);
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background-color: #14B2B8;
        }
        .foreign-space-info {
          display: flex;
          flex-direction: row;
          height: 16px;
          .foreign-space {
            width: 24px;
            height: 24px;
            top: -6px;
            left: -4px;
            position: relative;
          }
          .created-by {
            color: #9381FF;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
      .switch-to-space {
        width: 40px;
        height: 40px;
        transform: rotate(-90deg);
        right: 20px;
        top: 10px;
        position: absolute;
      }
      .icon-container {
        height: 40px;
        right: 4px;
        position: absolute;
        display: flex;
        flex-direction: row;
        font-size: 24px;

        i {
          top: 10px;
          font-size: 20px;
          height: 20px;
          width: 20px;
          position: relative;
          display: block;
          margin-right: 6px;
          cursor: pointer;
          border-radius: 50%;
          &.selected {
            background-color: rgb(154, 160, 162);
          }
        }
        .space-menu-container {
          box-sizing: border-box;
          position: absolute;
          background-color: white;
          top: 15px;
          right: 24px;
          border-radius: 8px;
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          z-index: 15 !important;
          max-width: auto;
          min-width: 140px;

          padding: 4px;
          .edit-post-button {
            position: relative;
            display: flex;
            flex-direction: row;
            cursor: pointer;
            box-sizing: border-box;
            width: fit-content;
            padding: 4px;
            border-radius: 8px;
            white-space: nowrap;
            user-select: none; /* supported by Chrome and Opera */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            z-index: 15 !important;
            line-height: 16px;
            i {width: 16px; height: 16px; line-height: 16px; font-size: 16px; top: 0;}
            &:hover {background-color: #F0F3F3;}
          }
        }
      }
    }
  }
}
.previews-container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
/* .previews-container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome *
} */
.space-creator-container {
  box-sizing: border-box;
  position: absolute;
  bottom: 16px;
  width: 100%;
  padding: 16px;
  .space-creator {width: 100%; cursor: pointer;}
}

.space-previews-container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}