<h5 class="headline s5 nomargin title">Deine Content Spaces</h5>

<div class="previews-container">
  <span *ngIf="spaces.length > 0" class="helperText space">Deine Spaces</span>
  <div class="space-previews-container">
    <div
      *ngFor="let space of spaces; let i = index"
      class="space-preview"
      (mouseup)="spaceClicked(space.feedID)"
      [class.first]="i === 0"
      [class.last]="i === spaces.length - 1"
      [class.selected]="space.feedID === selectedSpaceUUID && currentView === 'spaces'"
      [class.foreign]="currentUserID !== -1 && space.id_creator !== currentUserID"
    >
      <div class="space-preview-icon">
        <ho-avatar [avatarData]="space" [avatarText]="space.title"></ho-avatar>
      </div>
      <div class="space-preview-content" [title]="space.title">
        <div class="space-preview-title navigationText" *ngIf="space.title" [class.foreign]="currentUserID !== -1 && space.id_creator !== currentUserID">{{space.title}}</div>
        <div class="space-preview-title navigationText no-title" *ngIf="!space.title">- Kein Titel -</div>
        <div *ngIf="currentUserID !== -1 && space.id_creator !== currentUserID" class="foreign-space-info">
          <span class="users-icon-violett foreign-space"></span>
          <span class="created-by helperText" *ngIf="space.author && space.author.name" [title]="space.author?.name">Erstellt von {{space.author?.name}}</span>
        </div>
      </div>
      <div class="icon-container">
        <i class="ci-More_Horizontal" [class.selected]="spaceMenuUUID === space.feedID" (mouseup)="openSpaceMenu($event, space.feedID)"></i>
        <div class="space-menu-container" style="position: absolute; z-index: 10;" *ngIf="spaceMenuUUID === space.feedID">
          <div *ngIf="space.id_creator === auth.getUserID()" class="edit-post-button helperText" style="z-index: 10;" (mousedown)="duplicateSpaceReq(space.feedID, $event)">
            <i class="ci-Copy"></i>Space duplizieren
          </div>
          <div class="menu-item-line"></div>
          <div *ngIf="space.id_creator === auth.getUserID()" class="edit-post-button helperText" style="z-index: 10; color:#EA3737;" (mousedown)="deleteSpaceReq(space.feedID, $event, 'own')">
            <i class="ci-Trash_Full"></i>Space löschen
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
  
    <span *ngIf="spacesSubscribed.length > 0" class="helperText space">Abonnierte Spaces</span>
  <!-- <div class="space-previews-container"> -->
    <div
      *ngFor="let space of spacesSubscribed; let i = index"
      class="space-preview"
      (click)="spaceClicked(space.feedID)"
      [class.first]="i === 0"
      [class.last]="i === spaces.length - 1"
      [class.selected]="space.feedID === selectedSpaceUUID && currentView === 'spaces'"
      [class.foreign]="currentUserID !== -1 && space.id_creator !== currentUserID"
    >
      <div class="space-preview-icon">
        <ho-avatar [avatarData]="space" [avatarText]="space.title"></ho-avatar>
      </div>
      <div class="space-preview-content" [title]="space.title">
        <div class="space-preview-title navigationText" *ngIf="space.title" [class.foreign]="currentUserID !== -1 && space.id_creator !== currentUserID">{{space.title}}</div>
        <div class="space-preview-title navigationText no-title" *ngIf="!space.title">- Kein Titel -</div>
        <div *ngIf="currentUserID !== -1 && space.id_creator !== currentUserID" class="foreign-space-info">
          <span class="users-icon-violett foreign-space"></span>
          <span class="created-by helperText" *ngIf="space.author && space.author.name" [title]="space.author?.name">Erstellt von {{space.author?.name}}</span>
        </div>
      </div>
      <div class="icon-container">
        <i class="ci-More_Horizontal" (click)="openSpaceMenu($event, space.feedID)"></i>
        <div class="space-menu-container" style="position: absolute; z-index: 10;" *ngIf="spaceMenuUUID === space.feedID">
          <div *ngIf="space.id_creator !== auth.getUserID()" class="edit-post-button helperText" style="z-index: 10;" (mousedown)="deleteSpaceReq(space.feedID, $event, 'subscribed')">
            <i class="ci-Hide"></i>Space austreten
          </div>
          <div *ngIf="space.id_creator === auth.getUserID()" class="edit-post-button helperText" style="z-index: 10;" (mousedown)="duplicateSpaceReq(space.feedID, $event)">
            <i class="ci-Copy"></i>Space duplizieren
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="space-creator-container">
  <button class="rectangle dark navigationText space-creator" (click)="createSpace()"> <i class="ci-Add_Plus"></i> Neuen Space erstellen </button>
</div>