<div class="top-menu-bar-container">
  <div class="left-menu-container">
    <div *ngIf="!this.router.url.startsWith('/settings')" class="corbado-logo" [routerLink]="'feeds'"></div>
    <div *ngIf="this.router.url.startsWith('/settings')" class="back-to-feeds" [routerLink]="'feeds'">
      <i class="ci-Arrow_Left_MD"></i>
      <p>Zurück zu deinen Spaces</p>
    </div>
  </div>
  <div class="right-menu-container">
    <div class="user-menu">
      <div class="avatar-container" [routerLink]="'settings'">
        <ho-avatar
          *ngIf="currentUser"
          [avatarData]="currentUser"
        ></ho-avatar>
      </div>
      <div class="chevron-down-icon" [routerLink]="'settings'">
        <a [routerLink]="'settings'"></a>
      </div>
    </div>
    <div class="menu-icon log-out-icon" (click)="logout()"></div>
  </div>
</div>
