<div class="spaces-container">
  <div class="side-bar-container" *ngIf="auth.isAuth()">
    <div class="settings-container">
      <div class="user-container" [class.selected]="router.url.endsWith('settings')">
        You are successfully logged in with Corbado passkeys!
      </div>
      <div class="menu-item settings card no-shade" (click)="goToSettings()" [class.selected]="currentView === 'settings'">
        <i class="ci-Settings"></i><p>Settings</p>
      </div>
    </div>

  </div>


</div>