<div class="login-container card">
  <corbado-auth project_id="pro-14461785634220138416" conditional="yes">
    <input name="username" id="corbado-username" value=""
           required autocomplete="webauthn" autofocus/>
    <div slot="signupFields">
      <corbado-checkbox
        style="font-size: 0.85rem; text-align: left; color: #535e80; fontFamily: sans-serif; whiteSpace: nowrap"
        name="terms" error-message="Sie müssen zustimmen.">
        Ich stimme den <a
        style="text-decoration: none; font-weight: bold; color: #1953ff; cursor: pointer"
        target="_blank" href="https://corbado.com/terms-of-use/">AGB</a> und der <a
        style="text-decoration: none; font-weight: bold; color: #1953ff; cursor: pointer"
        href="https://corbado.com/privacy-policy/">Datenschutz-
        <wbr/>
        erklärung</a> zu.
      </corbado-checkbox>
    </div>
  </corbado-auth>
<div class="center">
    <h3 class="headline s3">Welcome Back 👋</h3>
  </div>

 <div class="login-form" >
    <form [formGroup]="loginForm">
      <div class="input-box">
        <i class="ci-Mail"></i> <input  class="inputField" type="text" placeholder="your@email.com" formControlName="email"/>
      </div>
      <div class="input-box">
        <i *ngIf="!showPassword" class="ci-Hide password"></i> <input *ngIf="!showPassword" class="inputField" type="password" placeholder="" formControlName="password" />
        <i *ngIf="showPassword" class="ci-Show password"></i> <input *ngIf="showPassword"  class="inputField" type="text" placeholder="" formControlName="password" />
        <p class="show-password" *ngIf="!showPassword" (click)="showPassword = true;">show</p><p class="show-password" *ngIf="showPassword" (click)="showPassword = false;">hide</p>
      </div>
      <br/>
      <button class="rectangle dark navigationText" (keyup.enter)="this.doLogin()" (click)="this.doLogin()" [class.disabled]="this.loginForm.invalid" [disabled]="this.loginForm.invalid"> <i class="ci-Arrow_Right_MD"></i> Login </button>
    </form>
    <div class="forgot-password">
      <p class="navigationText link" routerLink="./forget">Forgot Password?</p>
    </div>
  </div>
</div>
<div class="sub-actions">
  <p class="loginText text">New to hæppie? <span class="navigationText link loginText" routerLink="auth/">Register for free</span></p>
</div>
