<div class="center">
    <h4 class="headline s4">Passwort zurücksetzen</h4>
    
</div>
<div class="center">
    <p class="forgetText">
        Gib deine E-Mail-Adresse ein, um dein Passwort zurückzusetzen
    </p>
</div>

<form *ngIf="!sent" [formGroup]="forgetPass" class="login-form" (keyup.enter)="sendForm()">
    <div class="input-box">
      <i class="ci-Mail"></i> <input  class="inputField" type="text" placeholder="your@email.com" formControlName="email"/>
    </div>
    <button class="rectangle dark navigationText" (click)="this.sendForm()" [class.disabled]="this.forgetPass.invalid" [disabled]="this.forgetPass.invalid">Passwort zurücksetzen</button> 
</form>
<div *ngIf="sent" class="sentInfo">
    <p class="sentText navigationText">
        ✅ Zurücksetzen des Passworts gestartet, wir kontaktieren dich sobald wie möglich.
    </p>
</div>

<div class="sub-actions">
    <p class="navigationText link" routerLink="../">Login</p>
    <p class="navigationText link" routerLink="./register">Registrieren</p>
</div>
