@use "sass:map";
@import "../css/sharedStyles.scss";
@import "../../../shared/css/_variables.scss";

h4{
    margin:0;
}

.forgetText{
    width: 300px;
    text-align: center;
    margin-bottom: 32px;
}

.sentInfo{
    background-color: map.get($blueShadow, "30");
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 300px;
    padding: 10px 6px;
    .sentText{
        text-align: center;
        font-weight: 700;
        font-size: 16px;
    }
}

.input-box {
  position: relative;
  background-color: white;
  input {
    position: relative;
    padding-left: 28px;
    width: calc(100% - 28px);
  }
  i {
    position: absolute;
    color: #86A0A8;
    z-index: 2;
    left: 6px;
    top: 10px;
  }
}
button {
  width: 100%;
  margin-top: 32px;
}